{% extends 'base.html.twig' %} 

{% block body %} 
{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		<link rel="stylesheet" href="{{ asset('./css/pageLogin.css') }}" />
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		
			{% endblock %}


{% if errors %}
    <div class="alert alert-danger">
    {{errors.messageKey|trans(errors.messageData, 'security')}}</div>
    {% endif %}

    
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Connexion </h2>

    <!-- Login Form -->
    <form action="{{ path('security_login') }}" method="post">
      <input type="text" id="login" class="fadeIn second" name="_username" placeholder="Identifiant">
      <input type="password" id="mdphash" class="fadeIn third" name="_password" placeholder="Mot de passe">
      <input type="submit" class="fadeIn fourth" value="Se connecter">
    </form>

  </div>
</div>
    
{% endblock %}