{% extends 'base.html.twig' %}
{% block body %}
	<div class="container-fluid mt-3">

		<div class="row">
			{% for hackathon in hackathons %}

				<div class="col md-3">
					<div class="card" style="width: 18rem;">
						<img src="{{hackathon.image}}" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{hackathon.theme}}</h5>
							<a href="{{path('details', {'id':hackathon.idH})}}" class="btn btn-primary">Détails</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
