{% extends 'base.html.twig' %}
{% block body %}
	<select id="ville" name="ville">
		<option value="0">Sélectionner une ville</option>
		{% for laVille in villes %}
			<option value="1">{{laVille.ville}}</option>
			{% endfor %}
		</select>
	
	<div class="row row-cols-1 row-cols-md-3 g-4">

		{% for hackathon in hackathons %}


			<div class="col">
				<div class="card" style="width: 35rem;">
					<img src="{{hackathon.image}}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{hackathon.theme}}</h5>
						<a href="{{path('details',{'id':hackathon.idH})}}" class="btn btn-outline-success">Détails</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
